################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Prep-Forum/.vs/config
/Prep-Forum/.vs/Prep-Forum/v15/Server/sqlite3
